@font-face {
  font-family: "iconfont"; /* Project id 2480508 */
  src: url('iconfont.woff2?t=1623302714430') format('woff2'),
       url('iconfont.woff?t=1623302714430') format('woff'),
       url('iconfont.ttf?t=1623302714430') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e636";
}

.icon-shuju:before {
  content: "\e66c";
}

.icon-icon_xinyong_xianxing_jijin-137:before {
  content: "\e649";
}

.icon-xingbienan:before {
  content: "\e631";
}

.icon-xingbienv:before {
  content: "\e642";
}

.icon-xiangmu:before {
  content: "\e651";
}

.icon-dingdan1:before {
  content: "\e627";
}

.icon-dingdan:before {
  content: "\f1e5";
}

.icon-lishi:before {
  content: "\e608";
}

.icon-long:before {
  content: "\e844";
}

.icon-shouye:before {
  content: "\e62a";
}

.icon-4-169:before {
  content: "\e693";
}

